<form class="ui-form" id="regform">
    <div class="ui-cell">
        <div class="ui-cell-hd">
            <label class="ui-label">+86</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <input class="ui-input" type="text" name="mobile" id="phone" placeholder="请填写手机号">
        </div>
    </div>
    <div class="ui-cell">
        <div class="ui-cell-bd ui-cell-primary">
            <input class="ui-input" type="text" name="code" id="code" placeholder="请输入手机验证码">
        </div>
        <div class="ui-cell-ft">
            <a href="javascript:" class="ui-btn ui-btn-code" id="getcode">发送校验码</a>
        </div>
    </div>
    <div class="ui-form-btns">
        <a href="javascript:" class="ui-btn ui-btn-primary" id="submit">确认</a>
    </div>
    <input type="hidden" name="hidephone" id="hidephone">
    <input type="hidden" name="identifier" id="hidecodekey">
    <input type="hidden" name="latitude" id="latitude" value="">
    <input type="hidden" name="longitude" id="longitude" value="">

</form>
<script src="$staticServer.get('lib/zepto.min.js')"></script>
<script src="$staticServer.get('js/physical.min.js')"></script>

<script>

    #if($_platform =='wexin')
    // 获取地理位置
    wx.ready(function(){

        wx.getLocation({
            type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
            success: function (res) {
                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                $("#latitude").val(latitude);
                $("#longitude").val(longitude);
//                var speed = res.speed; // 速度，以米/每秒计
//                var accuracy = res.accuracy; // 位置精度
            }
        });
    });
    #end
    $(function(){
        /**
         * 校验
         */
        function checkform(){
            var phone = $('#phone').val();
            var code = $('#code').val();
            var regphone = new RegExp(/^1\d{10}$/i);
            var hidephone = $('#hidephone').val();
            if(!phone){
                $.Tip({'id':'c','content':'请填写手机号'});
                return false;
            }
            if(!regphone.test(phone)){
                $.Tip({'id':'error','content':'请填写正确的手机号'});
                return false;
            }
            if(!hidephone){
                $.Tip({'id':'error','content':'请先获取验证码'});
                return false;
            }
            if(!code){
                $.Tip({'id':'error','content':'请填写验证码'});
                return false;
            }
            return true;
        }


        /**
         * 获取验证码方法
         */
        function getCode(tel,btn){
            //按钮
            var own = btn;
            var self = this;

            $.ajax({
                url: '/sms/send.htm',
                type: 'POST',
                data: {"mobile": tel},
                beforeSend:function(){
                    if($('body').attr('ajaxcode') == 'true' || own.hasClass('btn-disabled')){
                        return false;
                    }
                    $('body').attr('ajaxcode','true');
                    own.html('获取中');
                },
                success:function(json){
                    //ajax返回的data
                    console.log(json.data);
                    $('#hidephone').val(tel);
                    $('#hidecodekey').val(json.data);
                    //开启倒计时
                    btncountdown(own,'获取验证码',60);
                },
                error:function(){
                    $.Tip({'id':'error','content':'获取验证码失败请稍后再试'});
                    own.html('获取验证码');
                },
                complete:function(){
                    setTimeout(function(){
                        $('body').removeAttr('ajaxcode');
                    },1000);
                }
            });
        }

        /**
         * 倒计时
         * @param  {[type]} self    [description]
         * @param  {[type]} oldhtml [description]
         * @param  {[type]} time    [description]
         * @return {[type]}         [description]
         */
        function btncountdown(self,oldhtml,time){
            var i = typeof(time) == 'undefined' ? 60 : time ;
            self.html( i + '秒');
            self.attr('disabled','disabled');
            self.addClass('btn-disabled');
            var sp = setInterval(function(){
                i--;
                if(i === 0){
                    self.removeAttr('disabled').html(oldhtml).removeClass('btn-disabled');
                    clearInterval(sp);
                }else{
                    self.html( i + '秒');
                }
            },1000);
        }


        //绑定发送校验码按钮
        $('#getcode').on('click',function(){
            var btn = $(this);
            var regphone = new RegExp(/^1\d{10}$/i);
            var phone = $('#phone').val();
            if(!phone){
                $.Tip({'id':'c','content':'请填写手机号'});
                return;
            }
            if(!regphone.test(phone)){
                $.Tip({'id':'error','content':'请填写正确的手机号'});
                return;
            }

            //发送验证码请求
            getCode(phone, btn);

        });


        //绑定确认按钮
        $('#submit').on('click',function(){

            if(checkform()){
//            if(true){
                var param = $('#regform').serializeArray();
                // var param = $('#regform').serialize();
                //提交
                $.pajax('id1','/bind-phone.htm','POST', param, function(data){
                    //ajax返回的data
                    console.log(data);
                    window.location.href = "/perfect-info.htm?url=$!url";
                });
            }

        });
    });
</script>