<div class="bd">

    <div class="ui-read-title">功能列表</div>
    <div class="ui-read-group">
        <div class="ui-read-input">
            <div class="label">注册</div>
            <div class="txt primary">自动注册</div>
        </div>
        <div class="ui-read-input">
            <div class="label">完善个人信息</div>
            <div class="txt primary">绑定手机号、定位、年龄、性别、上传图片</div>
        </div>
        <div class="ui-read-input">
            <div class="label">注册快检手</div>
            <div class="txt primary">填写快检手信息</div>
        </div>
        <div class="ui-read-input">
            <div class="label">体检包列表</div>
            <div class="txt primary">体检包列表</div>
        </div>
        <div class="ui-read-input">
            <div class="label">我要体检</div>
            <div class="txt primary">预约体检、体检时间、体检地址、体检手</div>
        </div>
        <div class="ui-read-input">
            <div class="label">确认下单</div>
            <div class="txt primary">完成</div>
        </div>
        <div class="ui-read-input">
            <div class="label">订单详情</div>
            <div class="txt primary">接单、取消订单、付款、填写体检报告</div>
        </div>
        <div class="ui-read-input">
            <div class="label">订单支付</div>
            <div class="txt primary">支付后，订单已支付，待填写体检报告</div>
        </div>
        <div class="ui-read-input">
            <div class="label">填写体检报告</div>
            <div class="txt primary">订单已完成</div>
        </div>
        <div class="ui-read-input">
            <div class="label">我的订单</div>
            <div class="txt primary">普通用户订单列表</div>
        </div>
        <div class="ui-read-input">
            <div class="label">快检手订单</div>
            <div class="txt primary">快检手列表</div>
        </div>
        <div class="ui-read-input">
            <div class="label">我的体检包</div>
            <div class="txt primary">快检手的体检包列表</div>
        </div>
        <div class="ui-read-input">
            <div class="label">服务日程</div>
            <div class="txt primary">快检手的体检包，收到的订单</div>
        </div>
    </div>


</div>