#set($title = '快检手订单')
<div class="bd">
    <div class="ui-tab">
        <div class="ui-navbar" id="order-navbar">
            <div class="ui-navbar-item active" data-type="0">待接单</div>
            <div class="ui-navbar-item" data-type="1">待付款</div>
            <div class="ui-navbar-item" data-type="2">待完成</div>
            <div class="ui-navbar-item" data-type="3">已完成</div>
        </div>

        <div class="ui-tab-bd">
            <div class="bd-box"></div>
            <div class="bd-box"></div>
            <div class="bd-box"></div>
            <div class="bd-box"></div>


        </div>

    </div>
</div>
#navbar()
<script src="$staticServer.get('lib/zepto.min.js')"></script>
<script src="$staticServer.get('js/physical.min.js')"></script>
<script src="$staticServer.get('lib/dropload.min.js')"></script>
<script>
    $(function(){
        //默认第一个
        var itemIndex = 0;
        //初始参数
        var param = [{
            "type":"0",
            "page":1
        }];
        //初始化顶部选项卡
        $('#order-navbar .ui-navbar-item').on('click',function(){
            var btn = $(this);

            btn.addClass('active').siblings().removeClass('active');
            itemIndex = $(this).index();

            $('.ui-tab-bd .bd-box').eq(itemIndex).show().siblings('.bd-box').hide();
            //标记是否加载结束
            var LoadEnd = btn.attr('data-LoadEnd') == 'true' ? true : false;
            //初始化点击选项卡之后的参数
            if(!param[itemIndex]){
                param[itemIndex]={
                    "type":btn.attr('data-type'),
                    "page":1
                }
            }
            if(!LoadEnd){
                // 解锁
                dropload.unlock();
                dropload.noData(false);
            }else{
                // 锁定
                dropload.lock('down');
                dropload.noData();
            }
            //重置
            dropload.resetload();
        });

        //初始化加载
        var dropload = $('.ui-tab-bd').dropload({
            scrollArea : window,
            loadDownFn : function(me){
                // var sbtn = $('#order-navbar .ui-navbar-item').eq(itemIndex)
                // param[itemIndex] = {
                //     "type":,
                //     "page":
                // };
                $.ajax({
                    type: 'POST',
                    url: '/order/checkerlist.htm',
                    dataType: 'json',
                    data:param[itemIndex],
                    success: function(data){
                        if(data.totalPages <= data.currentPage){
                            // 标记第几个加载完成 (没有数据了才标记) start
                            $('#order-navbar .ui-navbar-item').eq(itemIndex).attr('data-LoadEnd', 'true');
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                            // 标记第几个加载完成 (没有数据了才标记) end
                        }

//                        if(data.total == 0) {
//                            me.noData();
//                            // 标记第几个加载完成 (没有数据了才标记) end
//                        }

                        var result = getitem(data.data);
                        param[itemIndex].page++;
                        // console.log(param[itemIndex]);

                        $('.ui-tab-bd .bd-box').eq(itemIndex).append(result);

                        me.resetload();
                    },
                    error: function(xhr, type){
                        console.log('Ajax error!');
                        // 即使加载出错，也得重置
                        me.resetload();
                    }
                });
            }
        });
        /**
         * 根据数据拼接html
         * @param  {[type]} data [description]
         * @return {[type]}      [description]
         */
        function getitem(data){
            var html = "";
            $.each(data,function(i,v){
                //状态
                var state = '';
                //class名
                var classname = '';
                if(v.state == 0) {
                    state = '待接单'
                    classname = '';
                } else if(v.state == 1) {
                    state = '待付款';
                    classname = 'minor';
                } else if(v.state == 2) {
                    state = '待完成';
                } else if(v.state == 3) {
                    state = '已完成';
                    classname = 'end';
                } else if(v.state == 4) {
                    state = '已取消';
                    classname = 'invalid';
                }

                //链接地址
                var href = "/order/checkerdetail.htm?id=" + v.id;
                html += '<a class="ui-suit '+classname+'" href="'+href+'">'+
                        '    <div class="ui-suit-hd">'+
                        '        <div class="date primary">'+v.date+'</div>'+
                        '        <div class="state">'+state+'</div>'+
                        '    </div>'+
                        '    <div class="ui-suit-bd">'+
                        '        <div class="img"><img src="'+v.img+'"></div>'+
                        '        <div class="primary">'+
                        '            <div class="title">'+v.name+' <span>'+v.phone+'</span></div>'+
                        '            <div class="txt">'+v.ads+'</div>'+
                        '        </div>'+
                        '    </div>'+
                        '</a>';

            });
            return html;
        }
    });
</script>