#set($title = '预约下单')
<form class="ui-form" id="place-order-form">
    <div class="ui-cell">
        <div class="ui-cell-hd">
            <label class="ui-label">时间</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <input class="ui-input" type="datetime-local" name="checkupTime" id="date" placeholder="请选择时间">
        </div>
    </div>
    #if($memberLocation)
    <div class="ui-cell">
        <div class="ui-cell-hd">
            <label class="ui-label">体检城市</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <input class="ui-input" type="text" name="city" value="$!memberLocation.province $!memberLocation.city $!memberLocation.county" readonly id="city" >
        </div>
    </div>
    #end
    <div class="ui-cell">
        <div class="ui-cell-hd">
            <label class="ui-label">体检地址</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <input class="ui-input" type="text" name="address" id="address" placeholder="请输入您的详细地址">
        </div>
    </div>
    <div class="ui-cell ui-cell-access" id="get-select">
        <div class="ui-cell-hd">
            <label class="ui-label">快检手</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <input class="ui-input" type="text" name="checkerName" id="doctor" readonly="true" placeholder="请选择">
        </div>
        <div class="ui-cell-ft"></div>
    </div>
    <div class="ui-form-btns">
        <a href="javascript:" class="ui-btn ui-btn-primary" id="save">确认下单</a>
    </div>
    <input type="hidden" id="packetId" name="packetId" value="$packet.id">
    <input type="hidden" name="checkerId" id="doctor-id">
</form>
<!-- 弹出选择的快检手列表 -->
<div class="bd hide" id="select-list">
    #if($checkers.size() == 0)
        <div class="ui-alert">暂无快检手</div>
    #else
        #foreach($checker in $checkers)
            <div class="ui-suit" data-id="1">
                <div class="ui-suit-hd">
                    <div class="primary"></div>
                    <div class="state">距离$distanceUnitMap.get($checker.memberId)</div>
                </div>
                <div class="ui-suit-bd">
                    <div class="img"><img src="$!memberMap.get($checker.memberId).avatar"></div>
                    <div class="primary">
                        <div class="title">$checker.name</div>
                        <div class="txt">$checker.description</div>
                    </div>
                </div>
            </div>
        #end
    #end


</div>
<!-- /.弹出选择的快检手列表 -->
<script src="$staticServer.get('lib/zepto.min.js')"></script>
<script src="$staticServer.get('js/physical.js')"></script>
<script>
    $(function(){
        //根据hash显示隐藏方法
        function hashdisplay(){
            if(window.location.hash == '#select'){
                $('#place-order-form').hide();
                $('#select-list').show();
            }else{
                $('#place-order-form').show();
                $('#select-list').hide();
            }
        }

        //校验
        function check(){
            var date = $('#date').val();
            if(!date){
                $.Tip({'id':'er','content':'请填写预约时间'});
                return false;
            }
            var address = $('#address').val();
            if(!address){
                $.Tip({'id':'er','content':'请填写地址'});
                return false;
            }
            var doctor = $('#doctor').val();
            if(!doctor){
                $.Tip({'id':'er','content':'请选择快检手'});
                return false;
            }
            return true;
        }

        //绑定hash变化监听
        $(window).on('popstate',hashdisplay);
        hashdisplay();

        //绑定改变hash
        $('#get-select').on('click',function(){
            window.location.hash = '#select';
        });

        //绑定select列表
        $('#select-list').on('click','.ui-suit',function(){
            var self = $(this);
            var id = self.attr('data-id');
            var name = self.find('.title').text().trim();
            //把name显示到input
            $('#get-select').find('input').val(name);
            //吧id写到隐藏域？
            $('#doctor-id').val(id);
            window.history.back();
        });
        //保存按钮
        $('#save').on('click',function(){
            if(check()){
                //var param = $('#place-order-form').serializeArray();
                //console.log(param);
                //取出时间格式化
                var d = $.formatLocal($('#date').val());
                //取出时间格式化 加上秒
                var checkupTime = new Date(d).Format("yyyy-MM-dd hh:mm:ss");
                var city = $("#city").val();
                var address = $("#address").val();
                var packetId = $("#packetId").val();
                var checkerId = $("#doctor-id").val();
                var param = {
                    "checkupTime":checkupTime,
                    "city" : city,
                    "address" : address,
                    "packetId" : packetId,
                    "checkerId" : checkerId
                }

                //提交
                $.pajax('id1','/order/submit.htm','POST',param,function(data){
                    //ajax返回的data
                    console.log(data);
                    window.location.href = "/order/detail.htm?id="+ data.data;
                });
            }
        });
    });
</script>