#set($title = '填写体检报告')

<div class="bd">
    <div class="ui-read-title">订单信息</div>
    <div class="ui-read-group">
        <div class="ui-read-input">
            <div class="label">客户姓名</div>
            <div class="txt primary">$member.realName</div>
        </div>
        <div class="ui-read-input">
            <div class="label">体检时间</div>
            <div class="txt primary">$order.checkupTime</div>
        </div>
    </div>
    <div class="ui-read-title">体检项目</div>
    <div class="ui-read-group">
        #foreach($item in $items)
            <div class="ui-read-input">
                <div class="label">$item</div>
                <div class="txt primary">
                    <input type="text" name="$item" id="" class="ui-input" data-required placeholder="请填写">
                </div>
            </div>
        #end

    </div>
    <div class="ui-read-title">备注</div>
    <div class="ui-read-group">
        <textarea name="remark" placeholder="备注" class="ui-textarea"></textarea>
    </div>
    <div class="ui-form-btns">
        <a href="javascript:" class="ui-btn ui-btn-primary" id="savebtn">保存</a>
    </div>
</div>
<script src="lib/zepto.min.js"></script>
<script src="js/physical.js"></script>
<script>
    $(function(){
        //校验体检项目 必填
        function check(){
            var ck = true;
            $('input[data-required]').each(function(i,v){
                var val = $(v).val();
                if(!val){
                    ck = false;
                    var txt = '请填写' + $(v).parents('.ui-read-input').find('.label').text().trim();
                    $.Tip({'id':'er','content':txt});
                    return false;
                }
            });
            return ck;
        }

        //绑定保存按钮
        $('#savebtn').on('click',function(){
            if(check()){
                var checkupResult = "";
                $('input[data-required]').each(function(i,v){

                    var val = $(v).val();
                    var name = $(v).attr("name");
                    checkupResult = '"'+ name+'":' + '"' + val + '",';
                });
                checkupResult = checkupResult.substr(0, checkupResult.length - 1);
                checkupResult = "{" + checkupResult + "}";
                var params = {};
                params.id = '$order.id';
                params.checkResult = checkupResult;
                //提交
                $.pajax('id1','/order/report.htm','POST', params,function(data){
                    //ajax返回的data
                    console.log(data);
                });
            }
        });
    });
</script>