#set($title= '注册快检手')
<form class="ui-form" id="doctor-reg-form">

    <div class="ui-cell ui-cell-select">
        <div class="ui-cell-hd">
            <label class="ui-label">省</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <select name="" id="" class="ui-select">
                <option value="">浙江省</option>
                <option value="">上海市</option>
            </select>
        </div>
    </div>
    <div class="ui-cell ui-cell-select">
        <div class="ui-cell-hd">
            <label class="ui-label">市</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <select name="" id="" class="ui-select">
                <option value="">杭州市</option>
                <option value="">温州市</option>
            </select>
        </div>
    </div>
    <div class="ui-cell ui-cell-select">
        <div class="ui-cell-hd">
            <label class="ui-label">区</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <select name="" id="" class="ui-select">
                <option value="">上城区</option>
                <option value="">下城区</option>
            </select>
        </div>
    </div>
    <div class="ui-cell">
        <div class="ui-cell-hd">
            <label class="ui-label">地址</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <input class="ui-input" type="text" name="address" id="address" placeholder="请输入您的详细地址">
        </div>
    </div>
    <div class="ui-cell">
        <div class="ui-cell-hd">
            <label class="ui-label">简介</label>
        </div>
        <div class="ui-cell-bd ui-cell-primary">
            <input class="ui-input" type="text" name="description" placeholder="介绍下自己吧">
        </div>
    </div>

    <div class="ui-group">
        <div class="ui-cell-img">
            <div class="ui-cell-hd ui-cell-primary">
                <p>上传手持身份证照</p>
            </div>
            <div class="ui-cell-bd ">
                <div class="ui-uploadimg-btn">
                    <input class="ui-uploader-input" type="file" accept="image/*">
                    <input type="hidden" name="n1">
                </div>
            </div>
        </div>
        <div class="ui-cell-img">
            <div class="ui-cell-hd ui-cell-primary">
                <p>上传身份证正面照</p>
            </div>
            <div class="ui-cell-bd ">
                <div class="ui-uploadimg-btn">
                    <input class="ui-uploader-input" type="file" accept="image/*">
                    <input type="hidden" name="n2">
                </div>
            </div>
        </div>
        <div class="ui-cell-img">
            <div class="ui-cell-hd ui-cell-primary">
                <p>上传身份证反面照</p>
            </div>
            <div class="ui-cell-bd ">
                <div class="ui-uploadimg-btn">
                    <input class="ui-uploader-input" type="file" accept="image/*">
                    <input type="hidden" name="n3">
                </div>
            </div>
        </div>
        <div class="ui-cell-img">
            <div class="ui-cell-hd ui-cell-primary">
                <p>上传医师（护士）资格</p>
            </div>
            <div class="ui-cell-bd ">
                <div class="ui-uploadimg-btn img" style="background-image:url(http://shp.qpic.cn/weixinsrc_pic/pScBR7sbqjOBJomcuvVJ6iacVrbMJaoJZkFUIq4nzQZUIqzTKziam7ibg/);"><input class="ui-uploader-input" type="file" accept="image/*"></div>
            </div>
        </div>
    </div>

    <div class="ui-form-btns">
        <a href="javascript:" class="ui-btn ui-btn-primary" id="submt-btn">确认</a>
    </div>
    <input type="hidden" name="hidephone" id="hidephone">
    <input type="hidden" name="hidecodekey" id="hidecodekey">
</form>
<script src="$staticServer.get('lib/zepto.min.js')"></script>
<script src="$staticServer.get('js/physical.js')"></script>
<!-- 图片压缩插件 啊啊啊安卓微信里面不能用-->
<!-- <script src="lib/localResizeIMG/lrz.all.bundle.js"></script> -->
<script>
    $(function(){

        //对所有file绑定事件
        $('input[type="file"]').on('change',function(){
            var that = this;
            var self = $(that);
            var parent = self.parent();


            // !!!!!!! 经过测试。微信选择图片只能用jssdk。不用就无限刷新。赶集网也是用相同的方法。无法在微信中使用。
            //直接编码
            // var file = that.files[0];
            // var reader = new FileReader();
            // reader.readAsDataURL(file);
            // reader.onload = function(e){
            //     alert(this.result); //就是base64
            //     var base64 = this.result;
            //     //设置显示选择的图片
            //     parent.addClass('img').css('background-image','url('+base64+')');
            //     //把base64编码放到紧邻着的隐藏域中
            //     self.next().val(base64);
            // }

            //压缩编码
            // lrz(that.files[0], {
            //     width: 30,
            //     quality:0.1
            // })
            // .then(function (rst) {
            //     //压缩后的对象base64，formData 什么的都在里面
            //     console.log(rst);
            //     alert(rst.base64);
            //     // rst.base64
            //     //设置显示选择的图片
            //     parent.addClass('img').css('background-image','url('+rst.base64+')');
            //     //把base64编码放到紧邻着的隐藏域中
            //     self.next().val(rst.base64);
            //     return rst;
            // });

            //微信的上传图片
            // wx.chooseImage({
            //     count: 1, // 默认9
            //     sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            //     sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            //     success: function (res) {
            //         var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
            //     }
            // });

        });

        /**
         * 校验
         */
        function checkform(){
//            var address = $('#address').val();
//            if(!address){
//                $.Tip({'id':'er','content':'请填写详细地址'})
//                return false;
//            }
            return true;
        }

        //提交按钮
        $('#submt-btn').on('click',function(){

            if(check()){
                var param = $('#doctor-reg-form').serialize();
                // var param = $('#doctor-reg-form').serializeArry();
                //提交
                $.pajax('id1','/checker/reg.htm','POST',param,function(data){
                    //ajax返回的data
                    console.log(data);
                });
            }
        });
    });
</script>